.side-panel {
  display: flex;
  flex-direction: column;
  padding: 5px;
  height: calc(100% - 10px); /* Ensure the side panel takes full height */
  gap: 16px; /* Space between views */
}

.view-container {
  border: 0.15px solid #ccc;
  display: flex;
  flex-direction: column;
  height: 100%; /* Make sure the container takes full height */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /* Optional: add shadow for better visibility */
  border-radius: 10px;
}

.operation-view {
  flex: 3; /* 3 parts */
}

.instance-view {
  flex: 7; /* 7 parts */
}

.view-title {
  margin: 0;
  padding: 12px; /* Add padding for title */
  background-color: #f5f5f5; /* Optional: background for title */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.view-content {
  flex-grow: 1; /* Allow it to grow and fill the space */
  padding: 12px; /* Add padding for content */
  overflow: auto; /* Allow scrolling if content overflows */
}

#root {
    position: relative; 
    height: calc(100vh - 16px); /* Full height for the root element */
}